@model Tzoker.Results.Models.ApiModel
@{
    ViewBag.Title = "API Help";
}

<div id="body" class="content-wrapper">

<div class="alert alert-info">
    <h4>Update!</h4>
    XMLHttpRequests from any domain is now allowed. API response header is now set to <code>Access-Control-Allow-Origin: *</code>  
</div>


    <h2>
        API Help</h2>
    @foreach (var group in Model.GetApis())
    {
        <a name=@group.Key href="#">
            <h3>@group.Key</h3>
        </a>
        <div class="accordion" id="acc">
            @foreach (var api in group)
            {
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <h4>
                            <a class="accordion-toggle" href="#" data-toggle="collapse" data-parent="#acc">@api.HttpMethod
                                @api.RelativePath</a></h4>
                    </div>
                    <div id="acc-Body" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <p>@api.Documentation</p>
                            @foreach (var param in api.ParameterDescriptions)
                            {
                                <p>
                                    Parameter: <em>@param.Name</em> (@param.Source): @param.Documentation</p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <div id="sample-div">
        <a href="#">
            <h3>API Sample call (javascript)</h3>
        </a>
<pre class="code .pre-scrollable">
$(function () {
    $("#callAjax").click(function () {
        $("#reultsDiv").empty();
        var drawId = $.trim($("#select-draw").val());
        $.mobile.showPageLoadingMsg();
        if (drawId.length > 0) {
            $.ajax({
                type: "GET",
                url: "http://opapi.apphb.com/api/Tzoker/GetSummary/" + drawId,
                cache: false,
                dataType: "json",
                success: onSuccess
            });
        }
    });
</pre>
    </div>
</div>
