@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
@model Tzoker.Results.Models.ApiModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
    <style type="text/css">
        body
        {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="@Styles.Url("~/Content/css-responsive")" rel="stylesheet" type="text/css" />
    @RenderSection("head", required: false) @Html.Partial("_html5shiv") @* favicons and touch icons go here *@
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40281122-1']);
        _gaq.push(['_setDomainName', 'apphb.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="#">Web API: Παιχνίδια Αριθμών ΟΠΑΠ</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        @Html.Navigation()
                        @foreach (var group in Model.GetApis())
                        {

                            <li><a href=#@group.Key >@group.Key </a></li>
                        }
                        <li><a href="#sample-div">API call</a> </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        @Html.Partial("_alerts") @RenderBody()
        <hr>
        <footer>
            <div class="row">
                <div class="span6">
                    <p>
                        &copy; <a href="mailto:gnsping@gmail.com">GNSpngO$</a> @System.DateTime.Now.ToString("yyyy")
                    </p>
        
                 </div>
                    <div class="span6" align="right">
                        <span id="mashape-button" data-api="greece-opap-lottary-draw-numbers" data-name="gnsping" data-icon="1"></span>
                        <script src="https://www.mashape.com/embed/button.js"></script>
                    </div>
                </div>
        </footer>
    </div>
    @Scripts.Render("~/js") @RenderSection("Scripts", required: false)
</body>
</html>
